* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: auto;
    background-color: #f5f8ff;
    font-family: "Noto Serif", serif;
}
.container {
    /* max-width: 1140px; */
    margin: 0 auto;
    padding: 0 10px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    min-height: 75px;
}
.nav-links{
    display: flex;
    gap: 30px;
    align-items: center;
    list-style: none;
    font-size: 25px;
}
.nav-links a:hover{
    color: #e95a08;
        cursor: pointer;
}
.nav-links li:hover{
    color: #e95a08;
        cursor: pointer;
}

.nav-links a{
    text-decoration: none;
    color: #535353;
    font-weight: 600;
    font-size: 25px;
}

.logo img {
    max-height: 70px;
}
.cart span {
    margin-left: 8px;
}

/* --------------------------------Banner Section now add-----------------------------  */
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 150px;

}
.text-content{
    width: 50%;
}

.banner-title{
    font-size: 60px;
    font-weight: 800;
}
.brek{
    color: #e95a08;
}
.banner-text{
    font-size: 30px;
    color: #555;
    margin-top: 20px;
}


.img-content {
    width: 50%;
    padding: 10px;
    flex: 1;
}
.img-content img{
    width: 100%;
}



/* Our Planet Section  */
.planet{
    text-align: center;
    margin: 150px 0 40px 0;
}
.planet h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: "Noto Sans", sans-serif;
}


.planetspan{
    color: #e95a08;
    
}
.planet p{
    font-size: 30px;
    margin: 0 auto;
    color: #555;
    line-height: 1.6;
    padding: 0 100px;
}
